## `PWskills Assignment-17th_Sept_2023`

### `TOPIC: For Loop`

#### 1.	Write a Python program to print numbers from 1 to 10 using a for loop.

In [3]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

#### 2.	Explain the difference between a for loop and a while loop in Python.

#### 3.	Write a Python program to calculate the sum of all numbers from 1 to 100 using a for loop.

In [5]:
summ = 0
for i in range(1,101):
    summ+=i
    
print(summ)

5050

#### 4.	How do you iterate through a list using a for loop in Python?

In [7]:
list_var = [11,24,43,78, "sandeep", "python"]

for i in list_var:
    print(i)

11
24
43
78
sandeep
python

#### 5. Write a Python program to find the product of all elements in a list using a for loop.

In [11]:
num = [1,2,2,5,5]
mul = 1
for i in num:
    mul*=i
    
print(mul)

100

#### 6. Create a Python program that prints all even numbers from 1 to 20 using a for loop.

In [57]:
lst = []
for i in range(1,21):
    if i%2==0:
        lst.append(i)
print(lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

#### 7. Write a Python program that calculates the factorial of a number using a for loop.

In [21]:
n = 5
fact = 1

for i in range(1,n+1):
    fact = fact*i
print(fact)

120

#### 8. How can you iterate through the characters of a string using a for loop in Python?

In [80]:
user_input = str(input("Enter string: "))
user_input = list(user_input)

lst = []

for i in range(len(user_input)):
    lst.append(user_input[i])
    
print(lst)

Enter string: Hello world
['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

#### 9. Write a Python program to find the largest number in a list using a for loop.

In [39]:
num = [11,55,25,74,93,29]

max_num = num[0]

for i in num:
    if i>max_num:
        max_num = i

print(max_num)

93

#### 10. Create a Python program that prints the Fibonacci sequence up to a specified limit using a for loop.

In [56]:
# first = 0
# second = 1
# print(first)
# print(second)

# for i in range(1,9):
#     third = first + second
#     print(third)
#     first,second=second,third

#### 11. Write a Python program to count the number of vowels in a given string using a for loop.

In [84]:
sentence = str(input("enter sentence: "))
vowel = ['a','e','i','o','u']
count = 0

for i in sentence:
    if i in vowel:
        count+=1
        
print(count)

enter sentence: hello world this is sandeep
8

#### 12. Create a Python program that generates a multiplication table for a given number using a for loop.

#### 13. Write a Python program to reverse a list using a for loop.

In [86]:
lst = [1,2,3,"sandeep", "chowdhury"]

for i in lst:
    i=lst[::-1]
    
print(i)

['chowdhury', 'sandeep', 3, 2, 1]

#### 14. Write a Python program to find the common elements between two lists using a for loop.

In [94]:
lst1 = [1,2,6,"sandeep", "world"]
lst2 = [1,6,"hello", "world", 7]

for i in lst1:
    if i in lst2:
        print(i)

1
6
world

#### 15. Explain how to use a for loop to iterate through the keys and values of a dictionary in Python.

In [108]:
lst = {'num1':"sandeep", 'num2':"python", 'num3':"world"}

print('----------------------- keys--------------------------------')
for key in lst:
    print(key)
    
print('----------------------- values--------------------------------')

for i in lst.values():
    print(i)

----------------------- keys--------------------------------
num1
num2
num3
----------------------- values--------------------------------
sandeep
python
world

#### 16. Write a Python program to find the GCD (Greatest Common Divisor) of two numbers using a for loop.

In [144]:
num1 = 25
num2 = 125

# print(min(num1, num2))
gcd = 1
 
for i in range(1, min(num1, num2)):
    if num1 % i == 0 and num2 % i == 0:
        gcd = i
print("GCD of", num1, "and", num2, "is", gcd)

GCD of 25 and 125 is 5

#### 17. Create a Python program that checks if a string is a palindrome using a for loop.

In [140]:
user_str = "civic"

rev_str = ""

for i in user_str:
    rev_str = rev_str+i
    
if user_str == rev_str:
        print("pallindrome")
else:
        print("not pallindrome")

pallindrome

#### 18. Write a Python program to remove duplicates from a list using a for loop.

In [135]:
lst = [1,2,4,2,6,4,2,"world","sandeep", "hello","world"]
new_lst = []

for i in lst:
    if i not in new_lst:
        new_lst.append(i)
        
print(new_lst)

[1, 2, 4, 6, 'world', 'sandeep', 'hello']

#### 19. Create a Python program that counts the number of words in a sentence using a for loop.

In [124]:
user_input = str(input("enter sentence: "))

count = 0

for i in user_input:
    count+=1
#     print(i, count(i))

print(count)

enter sentence: hello world
11

#### 20. Write a Python program to find the sum of all odd numbers from 1 to 50 using a for loop.

In [132]:
summ = 0
for i in range(1,51):
    if i%2!=0:
        summ+=i

print(summ)

625

#### 21. Write a Python program that checks if a given year is a leap year using a for loop.

#### 22. Create a Python program that calculates the square root of a number using a for loop.

In [145]:
sample_list = [2,4,6,8]
result = [number ** 2 for number in sample_list]
print(result)

TypeError: 'int' object is not iterable

#### 23. Write a Python program to find the LCM (Least Common Multiple) of two numbers using a for loop.