## `PWskills Assignment-20th_Aug_2023`

### `TOPIC: String Based Assignment Problem`

#### 1. Write a program to reverse a string.

In [3]:
# user input
str_input = str(input("Enter the String: "))

# reversing the string
rev_str = str_input[::-1]

print(f'The reverse string: {rev_str}')

Enter the String: sandeep
The reverse string: peednas

#### 2. Check if a string is a palindrome.

In [2]:
# A palindrome is a word, phrase, or sentence that reads the same backward or forward
input_str = str(input("Enter the string: "))

# reversing the string
rev_str = input_str[::-1]

# comparing if input_str is same as rev_str
if input_str == rev_str:
    print("It is palindrome")
else:
    print("It is not palindrome")

Enter the string: malama
It is not palindrome

#### 3. Convert a string to uppercase.

In [5]:
# user input
str_input = str(input("Enter the String: "))

# uppercase the string
up_str = str_input.upper()

print(f'The upper string: {up_str}')

Enter the String: sandeep
The upper string: SANDEEP

#### 4. Convert a string to lowercase.

In [7]:
# user input
str_input = str(input("Enter the String: "))

# uppercase the string
low_str = str_input.lower()

print(f'The lower string: {low_str}')

Enter the String: SanDeeP
The lower string: sandeep

#### 5. Count the number of vowels in a string.

In [9]:
# user input
str_input = str(input("Enter the String: "))

count = 0
vowels = ['a', 'e', 'i', 'o', 'u']

for i in str_input:
    if i in vowels:
        count +=1
    else:
        pass
    
print (f'Count of vowels: {count}')

Enter the String: sandeep is in india
Count of vowels: 8

#### 6. Count the number of consonants in a string.

In [11]:
# user input
str_input = str(input("Enter the String: "))

count = 0
vowels = ['a', 'e', 'i', 'o', 'u']

for i in str_input:
    if i not in vowels:
        count +=1
    else:
        pass
    
print (f'Count of consonents: {count}')

Enter the String: sandeep is in India
Count of consonents: 12

#### 7. Remove all whitespaces from a string.

In [13]:
# user input
str_input = str(input("Enter the String: "))

# removing all the whitespaces 
spaceless_string = str_input.replace(' ', '')

print(f'The spaceless_string is: {spaceless_string}')

Enter the String: hi this is sandeep
The spaceless_string is: hithisissandeep

#### 8. Find the length of a string without using the `len()` function.

In [15]:
# user input
str_input = str(input("Enter the String: "))

# counting the letters gives len
count = 0
for i in str_input:
    count+=1
    
print(f'The length of the string is: {count}')

Enter the String: sandeep
The length of the string is: 7

#### 9. Check if a string contains a specific word.

In [17]:
# user input
str_input = str(input("Enter the String: "))
str_input = str_input.lower()  ## converting it all into lower case

spec_word = "sandeep"

if spec_word in str_input:
    print("specific word found")
else:
    print("specific word not found")

Enter the String: Hi this is SandeeP here
specific word found

#### 10. Replace a word in a string with another word.

In [18]:
# user input
str_input = str(input("Enter the sentence: "))

# replacing word in a sentence 
word_present = str(input("Enter the word you want to replace from the sentence: "))
word_replaced = str(input("Enter the word to be replaced in the sentence: "))
new_sentence = str_input.replace(word_present,word_replaced)

print(f'The spaceless_string is: {new_sentence}')

Enter the sentence: Hi this is sandeep
Enter the word from the sentence: Hi
Enter the word to be replaced: Hello
The spaceless_string is: Hello this is sandeep

#### 11. Count the occurrences of a word in a string.

In [1]:
#user input sentence
user_input = str(input("Enter your sentence: "))

word = "world"

word_occurance = user_input.count(word)
print(word_occurance)

Enter your sentence: hello world, this is a big world around other world
3

#### 12. Find the first occurrence of a word in a string.

In [34]:
#user input sentence
user_string = str(input("Enter your sentence: "))
word = 'world'

len_user = len(user_string)
len_word = len(word)

## break used for printing the first match and exit the loop

for i in range(len_user - len_word+1):
    if string[i:i+len_word] == word:
        print(i)
        break

Enter your sentence: hey world for the world in the world
3

#### 13. Find the last occurrence of a word in a string.

#### 14. Split a string into a list of words.

In [44]:
user_input = str(input(" enter your string: "))

#splitting it into words
word = user_input.split()
word

 enter your string: Hi This is sandeep

['Hi', 'This', 'is', 'sandeep']

#### 15. Join a list of words into a string.

In [70]:
words = ['Hi', 'This', 'is', 'sandeep', 'from', 'India']

sentence = ""

# checking if length not matched keep adding the strings
for i in range(len(words)):
    if i != len(words):
        sentence += words[i] + " "
    else:
        pass

print(sentence)

Hi This is sandeep from India

#### 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [78]:
sentence = "Hi this is Sandeep from India"

# use replace function

un_sentence = sentence.replace(" ", "_")
un_sentence

'Hi_this_is_Sandeep_from_India'

#### 17. Check if a string starts with a specific word or phrase.

In [100]:
user_str = str(input("Enter the sentence: "))
word ="The"

first_str= user_str.split()


if word == first_str[0]:
    print('string starts with specific word')
else:
    print('does not matches')

Enter the sentence: The world is round
string starts with specific word

#### 18. Check if a string ends with a specific word or phrase.

In [103]:
user_str = str(input("Enter the sentence: "))
word ="you"

last_str= user_str.split()[-1]

if word == last_str:
    print('string ends with specific word')
else:
    print('does not matches')

Enter the sentence: hi this is sandeep, thank you
string ends with specific word

#### 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [105]:
sent = "hello world"
title_sent = sent.title()
title_sent

'Hello World'

#### 20. Find the longest word in a string.

In [150]:
user_str = input("Enter the sentence: ")

user_str = user_str.split()

largest_word = ''

for i in user_str:
    if len(i)>len(largest_word):
        largest_word=i
        
print(f'largest word is: {largest_word}')

Enter the sentence: sandeep this side from India
largest word is: sandeep

#### 21. Find the shortest word in a string.

In [161]:
# user_str = input("Enter the sentence: ")

# user_str = user_str.split()

# shortest_word = ""

# for i in user_str:
#     if len(i)<len(shortest_word):
#         shortest_word=i
            
# print(f'shortest word is: {shortest_word}')

Enter the sentence: sandeep this side from India
shortest word is:

#### 22. Reverse the order of words in a string.

In [166]:
user_str = " Hi this is sandeep"
user_str = user_str.split()
user_str = user_str[::-1]

rev_sentence = ''

for i in range(len(user_str)):
     if i != len(user_str):
        rev_sentence += user_str[i] + " "
    
print(rev_sentence)

sandeep is this Hi

#### 23. Check if a string is alphanumeric.

In [182]:
user = input("enter word: ")

letter = []
for i in user:
    letter.append(i)

Checking whether 123abc is alphanumeric
True
Checking whether 123#$%abc is alphanumeric
False

#### 24. Extract all digits from a string.

In [14]:
sentence = " Hello world, Sandeep123 this side from pincode 7463847"
alpha = ""

for i in sentence:
    if i.isdigit():
        alpha+=i

print(alpha)

1237463847

#### 25. Extract all alphabets from a string.

In [13]:
sentence = " Hello world, Sandeep123 this side from pincode 7463847"
alpha = ""

for i in sentence:
    if i.isalpha():
        alpha+=i

print(alpha)

HelloworldSandeepthissidefrompincode

#### 26. Count the number of uppercase letters in a string.

In [2]:
sent = "Hey SanDeep ThiS SiDE"

count = 0

for i in sent:
    if i.isupper():
        count+=1
        
print(count)

8

#### 27. Count the number of lowercase letters in a string.

In [8]:
sent = "Hey SanDeep ThiS SiDE"

count = 0

for i in sent:
    if i.islower():
        count+=1
        
print(count)

10

#### 28. Swap the case of each character in a string.

In [13]:
sent = "Hey SanDeep ThiS SiDE"

new_sent = ""

for i in sent:
    if i.isupper():
        new_sent+=i.lower()
    else:
        new_sent+=i.upper()
        
print(new_sent)

hEY sANdEEP tHIs sIde

#### 29. Remove a specific word from a string.

In [19]:
sent = "Hey Python SanDeep ThiS SiDE"
word_split = sent.split()
word = "Python"

new_words = [i for i in word_split if i != word]
new_sent = ''.join(new_words)
print(new_sent)

HeySanDeepThiSSiDE

#### 30. Check if a string is a valid email address.

In [2]:
email = "sandeep@gmail.com"

if email.count('@')!=1:
    print("Wrong email")
elif email.count('.com')!=1:
    print("wrong email")
else:
    print("right email id")

right email id

#### 31. Extract the username from an email address string.

In [7]:
email = 'sandeep@gmail.com'

pos = email.find('@')
username = email[0:pos]
username

'sandeep'

#### 32. Extract the domain name from an email address string.

In [3]:
email = 'sandeep@gmail.com'

pos = email.find('@')
username = email[pos+1:]
username

'gmail.com'

#### 33. Replace multiple spaces in a string with a single space.

In [4]:
string = "sandeep   hi  how the  day"

no_space = string.split()
new_sent = ' '.join(no_space)
new_sent

'sandeep hi how the day'

#### 34. Check if a string is a valid URL.

In [6]:
url = 'https://www.google.com'


if url[0:5] == 'https':
    print("it is a valid url")
else:
    print("not a valid url")

it is a valid url

#### 35. Extract the protocol (http or https) from a URL string.

In [7]:
url = 'https://www.google.com'

loc = url.find(":")

find_http = url[0:loc]
print(find_http)

https

#### 36. Find the frequency of each character in a string.

In [10]:
char = "hello, sandeep this side"

letter = {}

for i in char:
    if i in letter:
        letter[i]+=1
    else:
        letter[i]=1
print(letter)

{'h': 2, 'e': 4, 'l': 2, 'o': 1, ',': 1, ' ': 3, 's': 3, 'a': 1, 'n': 1, 'd': 2, 'p': 1, 't': 1, 'i': 2}

#### 37. Remove all punctuation from a string.

In [13]:
string = "hello!, how, are you ?"

punc = "!()-[]{};:'\,<>./?@#$%^&*_~"

for i in string:
    if i in punc:
        string = string.replace(i, '')
        
print(string)

hello how are you

#### 38. Check if a string contains only digits.

In [14]:
string = "1234567"

if string.isdigit():
    print("only digit present")
else:
    print("string not just contain digits")

only digit present

#### 39. Check if a string contains only alphabets.

In [18]:
string = "sandeep"

if string.isalpha():
    print("only alphabet present")
else:
    print("string not just contain alphabet")

only alphabet present

#### 40. Convert a string to a list of characters.

In [19]:
string = "hello world, sandeep here"

lst = []
for i in string:
    lst.append(i)
print(lst)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', ',', ' ', 's', 'a', 'n', 'd', 'e', 'e', 'p', ' ', 'h', 'e', 'r', 'e']

#### 41. Check if two strings are anagrams.

In [11]:
string1 = "listen"
string2= "silent"

lst1 = []
for i in string1:
    lst1.append(i)
print(lst1)

lst2 = []
for i in string2:
    lst2.append(i)
print(lst2)

if sorted(lst1) == sorted(lst2):
    print("its anagrams")
else:
    print("non anagrams")

['l', 'i', 's', 't', 'e', 'n']
['s', 'i', 'l', 'e', 'n', 't']
its anagrams

#### 42. Encode a string using a Caesar cipher.

In [16]:
cipher = ""

a=10
text = "sandeep"

for i in range(len(text)):
    char = text[i]
    if (char.isupper()):
        cipher += chr((ord(char) + a-65) % 26 + 65)
    else:
        cipher += chr((ord(char) + a - 97) % 26 + 97)
        
print(cipher)

ckxnooz

#### 43. Decode a Caesar cipher encoded string.

#### 44. Find the most frequent word in a string.

In [24]:
from collections import defaultdict

sent = ["hi there, hi world hi sandeep, hi python"]

temp = defaultdict(int)


for i in sent:
    for j in i.split():
        temp[j] += 1

max_word = max(temp, key=temp.get)

print("Word with maximum frequency : " + str(max_word))

Word with maximum frequency : hi

#### 45. Find all unique words in a string.

In [37]:
sent = "hi there, hi world there hi sandeep python, hi python"
word=sent.split()

lst = []
for i  in word:
    lst.append(i)
print(lst)

set(list(lst))

['hi', 'there,', 'hi', 'world', 'there', 'hi', 'sandeep', 'python,', 'hi', 'python']

{'hi', 'python', 'python,', 'sandeep', 'there', 'there,', 'world'}

#### 46. Count the number of syllables in a string.

#### 47. Check if a string contains any special characters.

In [39]:
string = "hello sandeep this is !%123world*"

if string.isalpha():
    print("no special character")
else:
    print("special character present")

special character present

#### 48. Remove the nth word from a string.

#### 49. Insert a word at the nth position in a string.

In [43]:
string = "hello world, this is python"
word = "sandeep"
pos = 6

print(string[:pos] + word + string[pos:])

hello sandeepworld, this is python

#### 50. Convert a CSV string to a list of lists.

In [47]:
import csv
import io

csv_string = """python,ajay,50
SQL,Ankit,80
ML,Deepak,73
"""

csv_data = []

csv_io = io.StringIO(csv_string)
csv_reader = csv.reader(csv_io)

for i in csv_reader:
    csv_data.append(i)


for i in csv_data:
    print(i)

['python', 'ajay', '50']
['SQL', 'Ankit', '80']
['ML', 'Deepak', '73']

## List Based Practice Problem :

#### 1. Create a list with integers from 1 to 10.

In [3]:
lst = []

for i in range(1,11):
    lst.append(i)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### 2. Find the length of a list without using the `len()` function.

In [5]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

count = 0

for i in lst:
    count+=1
    
print(count)

10

#### 3. Append an element to the end of a list.

In [7]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

lst.append(11)

print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

#### 4. Insert an element at a specific index in a list.

In [8]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lst.insert(3, 11)
print(lst)

[1, 2, 3, 11, 4, 5, 6, 7, 8, 9, 10]

#### 5. Remove an element from a list by its value.

In [9]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lst.remove(10)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#### 6. Remove an element from a list by its index.

In [1]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lst.pop(4)
print(lst)

[1, 2, 3, 4, 6, 7, 8, 9, 10]

#### 7. Check if an element exists in a list.

In [5]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
element=5 
if element in lst:
    print("it exists")
else:
    print("doesn,t exists")

it exists

#### 8. Find the index of the first occurrence of an element in a list.

In [8]:
lst = [1, 2, 3, 4, 3, 5, 4, 3, 93, 3]

print(lst.index(3))

2

#### 9. Count the occurrences of an element in a list.

In [9]:
lst = [1, 2, 3, 4, 3, 5, 4, 3, 93, 3]

count = 0

for i in lst:
    if i == 3:
        count+=1
    else:
        pass
    
print(count)

4

#### 10. Reverse the order of elements in a list.

In [10]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

lst[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

#### 11. Sort a list in ascending order.

In [14]:
lst = [1,3,6,4,8,9,2,7,0]
sorted(lst)

[0, 1, 2, 3, 4, 6, 7, 8, 9]

#### 12. Sort a list in descending order.

In [16]:
lst = [1,3,6,4,8,9,2,7,0]
sorted(lst)[::-1]

[9, 8, 7, 6, 4, 3, 2, 1, 0]

#### 13. Create a list of even numbers from 1 to 20.

In [17]:
lst = [1,3,6,4,8,9,2,7,0]

even_lst = []

for i in lst:
    if i%2==0:
        even_lst.append(i)
        
print(even_lst)

[6, 4, 8, 2, 0]

#### 14. Create a list of odd numbers from 1 to 20.

In [20]:
lst = [1,3,6,4,8,9,2,7,0]

odd_lst = []

for i in lst:
    if i%2 != 0:
        odd_lst.append(i)
        
print(odd_lst)

[1, 3, 9, 7]

#### 15. Find the sum of all elements in a list.

In [21]:
lst = [1,3,6,4,8,9,2,7,0]

sum_lst = 0

for i in lst:
    sum_lst+=i
print(sum_lst)

40

#### 16. Find the maximum value in a list.

In [23]:
lst = [1,3,6,4,8,9,2,7,0]

max(lst)

9

#### 17. Find the minimum value in a list.

In [24]:
lst = [1,3,6,4,8,9,2,7,0]

min(lst)

0

#### 18. Create a list of squares of numbers from 1 to 10.

In [26]:
lst = [1,3,6,4,8,9,2,7,0]

sq_lst = []

for i in lst:
    sq_lst.append(i*i)
    
print(sq_lst)

[1, 9, 36, 16, 64, 81, 4, 49, 0]

#### 19. Create a list of random numbers.

In [27]:
import random 

ran_lst = []

for i in range(10):
    ran_lst.append(random.randint(3,9))
print(ran_lst)

[5, 5, 6, 8, 7, 7, 9, 5, 3, 9]

#### 20. Remove duplicates from a list.

In [30]:
lst = [1, 2, 3, 4, 3, 5, 4, 3, 93, 3]

list(set(lst))

[1, 2, 3, 4, 5, 93]

#### 21. Find the common elements between two lists.

In [10]:
lst1 = [1, 2, 3, 4]
lst2 = [4, 5, 6, 3]

lst1 = set(lst1)
lst2 = set(lst2)

if (lst1 & lst2):
    print(list(lst1 & lst2))
else:
    print("No common elements")

[3, 4]

#### 22. Find the difference between two lists.

In [12]:
lst1 = [1, 2, 3, 4]
lst2 = [4, 5, 6, 3]

diff = []

for i in lst1:
    if i not in lst2:
        diff.append(i)
        
print(diff)

[1, 2]

#### 23. Merge two lists.

In [13]:
lst1 = [1, 2, 3, 4]
lst2 = [4, 5, 6, 3]

lst1+lst2

[1, 2, 3, 4, 4, 5, 6, 3]

#### 24. Multiply all elements in a list by 2.

In [22]:
lst1 = [1, 2, 3, 4]

result = []

for i in lst1:
    result.append(i*2)
print(list(result))

[2, 4, 6, 8]

#### 25. Filter out all even numbers from a list.

In [23]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]

even_lst = []

for i in lst:
    if i%2==0:
        even_lst.append(i)
        
print(even_lst)

[2, 4, 6, 8]

#### 26. Convert a list of strings to a list of integers.

In [24]:
str_lst = ["1", "2", "3", "4"]

int_lst = []
for i in str_lst:
    int_lst.append(int(i))
    
print(int_lst)

[1, 2, 3, 4]

#### 27. Convert a list of integers to a list of strings.

In [27]:
int_lst = [1, 2, 3, 4]

str_lst = []
for i in int_lst:
    str_lst.append(str(i))
    
print(str_lst)

['1', '2', '3', '4']

#### 28. Flatten a nested list.

In [29]:
nested_list = [1, [2, 3], [4, [5, 6, [7, 8]]]]


flat_list = []
for i in nested_list:
    if isinstance(i, list):
        flat_list.extend(flatten_nested_list(i))
    else:
        flat_list.append(i)

print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8]

#### 29. Create a list of the first 10 Fibonacci numbers.

In [31]:
def fib(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1        
    else:
        return fib(n-2)+fib(n-1)

fib(10)

55

#### 30. Check if a list is sorted.

In [32]:
lst = [1,2,3,4,5]

if lst == sorted(lst):
    print("it is sorted")
else:
    print("it is not sorted")

it is sorted

#### 31. Rotate a list to the left by `n` positions.

In [2]:
test_list = [1, 4, 6, 7, 2]
n = int(input("Enter the value of n to rotate: "))
test_list = test_list[n:] + test_list[:n]

print (f"List after left rotate by {n} : " + str(test_list))

Enter the value of n to rotate: 3
List after left rotate by 3 : [7, 2, 1, 4, 6]

#### 32. Rotate a list to the right by `n` positions.

In [4]:
test_list = [1, 4, 6, 7, 2]
n = int(input("Enter the value of n to rotate: "))
test_list = test_list[-n:] + test_list[:-n]

print (f"List after right rotate by {n} : " + str(test_list))

Enter the value of n to rotate: 3
List after right rotate by 3 : [6, 7, 2, 1, 4]

#### 33. Create a list of prime numbers up to 50.

#### 34. Split a list into chunks of size `n`.

In [15]:
lst = [1, 4, 6, 7, 2, 5, 8, 2, 99, 67, 53]
n = 3

## using yield 
def divide_chunks(l, n): 

    for i in range(0, len(l), n): 
        yield l[i:i + n] 


x = list(divide_chunks(lst, n)) 
print (x)

[[1, 4, 6], [7, 2, 5], [8, 2, 99], [67, 53]]

#### 35. Find the second largest number in a list.

In [21]:
### first maximum

# lst = [1, 4, 6, 7, 2, 5, 8, 2, 99, 67, 53]

# max_val = 0
# for i in lst:
#     if i>max_val:
#         max_val = i
# print(max_val)

In [23]:
### second maximum
lst = [1, 4, 6, 7, 2, 5, 8, 2, 99, 66, 53]
max_value = second_max = 0
for i in lst:
    if i > max_value:
        second_max = max_value
        max_value = i
    elif i > second_max and i != max_value:
        second_max = i
        
print(second_max)

66

#### 36. Replace every element in a list with its square.

In [24]:
lst = [1,2,3,4,5]

new_lst = []

for i in lst:
    new_lst.append(i*i)
    
print(new_lst)

[1, 4, 9, 16, 25]

In [25]:
### using function

def sq_lst(l):
    new_lst = []
    for i in l:
        new_lst.append(i*i)
    return new_lst

sq_lst([1,2,3,4,5])

[1, 4, 9, 16, 25]

#### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [28]:
lst = [1,2,3,4,5,6,7,8]

my_dict = {}
for key, value in enumerate(lst):
    my_dict[value] = key

print(my_dict)

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 8: 7}

#### 38. Shuffle the elements of a list randomly.

In [31]:
import random
lst = [1,2,3,4,5,6,7,8]

random.shuffle(lst)
print(lst)

[4, 6, 1, 2, 5, 8, 3, 7]

#### 39. Create a list of the first 10 factorial numbers.

In [37]:
def fact(n):
    if n == 0:
        return 1
    else:
        return n*fact(n-1)

fact_lst = []
for i in range(1,11):
    fact_lst.append(fact(i))
    
print(fact_lst)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

#### 40. Check if two lists have at least one element in common.

In [41]:
lst1 = [1,2,3,4,5]
lst2 = [3,4,5,6,7]

def comm(lst1, lst2):
    for i in lst1:
        if i in lst2:
            return f"common element"
    return f"no common element"

comm(lst1, lst2)

'common element'

#### 41. Remove all elements from a list.

In [1]:
lst = [1,2,3,4,5]
lst.clear()
print(lst)

[]

#### 42. Replace negative numbers in a list with 0.

In [2]:
lst = [-1,-2,-3,1,2,3]

new_lst = []

for i in lst:
    if i>=0:
        new_lst.append(i)
        
print(new_lst)

[1, 2, 3]