# Python in-builts functions

In [1]:
s1 = "sandeep"

In [2]:
### count occurance of e
s1.count("e")

2

In [3]:
### find the index of d , but if not find it will give -1
s1.find("d")

3

In [6]:
s1.find("z")

-1

In [4]:
### same as above finding index
s1.index("d")

3

In [5]:
s1.index("z")

ValueError: substring not found

In [7]:
s1.upper()

'SANDEEP'

In [8]:
s1.lower()

'sandeep'

In [9]:
s1.title()

'Sandeep'

In [10]:
s2 = " hello World my name is sAndeep"
s2.title()

' Hello World My Name Is Sandeep'

In [11]:
s2.split()  ### there are whitespaces so splited it

['hello', 'World', 'my', 'name', 'is', 'sAndeep']

In [12]:
s2.split(",")  ### there is no cooma

[' hello World my name is sAndeep']

In [13]:
s2.split("/")  #### there is no /

[' hello World my name is sAndeep']

In [14]:
s3 = 'Hello, World, My Name, Is, Sandeep'
s3.split(",")   ### as per comma splited

['Hello', ' World', ' My Name', ' Is', ' Sandeep']

In [15]:
s3.split(" ") ### as per whitespace splited

['Hello,', 'World,', 'My', 'Name,', 'Is,', 'Sandeep']

In [17]:
s3.split("o")  ### split as per word o

['Hell', ', W', 'rld, My Name, Is, Sandeep']

In [18]:
s4 = "hi this is sandeep. This is a python workbook"
s4.split(".")

['hi this is sandeep', ' This is a python workbook']

In [19]:
s4.split(".")[1]  ### separate by . and finding the sentence

' This is a python workbook'

In [20]:
s4.replace("s", "z")

'hi thiz iz zandeep. Thiz iz a python workbook'

In [21]:
s4.replace("o", "q")

'hi this is sandeep. This is a pythqn wqrkbqqk'

In [22]:
### original string never changes
s4

'hi this is sandeep. This is a python workbook'

In [24]:
s5 = "     sandeep     "
s5.rstrip()                ### remove right side whitespaces

'     sandeep'

In [25]:
s5.lstrip()          ### remove left side whitespaces

'sandeep     '

In [26]:
s5.strip()    #### both side

'sandeep'

In [29]:
s6 = "sandeep"

In [30]:
### anything start with --> is ---> always gives true or false

s6.isalnum()  #

True

In [31]:
s6.isalpha() ## only alpha

True

In [32]:
s6.isnumeric()

False

In [33]:
s6.islower()

True

In [36]:
l1 = [1,2,3,4, "sandeep"]
l1.append("chowdhury")          ### append always append at end by default
l1

[1, 2, 3, 4, 'sandeep', 'chowdhury']

In [37]:
l1.insert(2, 100)   ### inserting something after the index
l1

[1, 2, 100, 3, 4, 'sandeep', 'chowdhury']

In [40]:
l1.extend("python")   ## extend
print(l1)

[1, 2, 100, 3, 4, 'sandeep', 'chowdhury', 'p', 'y', 't', 'h', 'o', 'n', 'p', 'y', 't', 'h', 'o', 'n', 'p', 'y', 't', 'h', 'o', 'n']

In [41]:
l3 = [1,2,3]
l3.extend("python")    ## extend splits the letters and append
l3

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n']

In [43]:
### appending list inside a list
l4 = [1,2,3]
l4.append([5,6,7])
l4

[1, 2, 3, [5, 6, 7]]

In [44]:
### insert list inside a list
l4.insert(1, [11,22,33])
l4

[1, [11, 22, 33], 2, 3, [5, 6, 7]]

In [45]:
### extend list inside a list ---> split and append
l4.extend([10,100,1000])
l4

[1, [11, 22, 33], 2, 3, [5, 6, 7], 10, 100, 1000]

In [46]:
### pop ---> bydefault pop out the last element
l4.pop()

1000

In [47]:
l4

[1, [11, 22, 33], 2, 3, [5, 6, 7], 10, 100]

In [48]:
l4.pop(2)
l4

[1, [11, 22, 33], 3, [5, 6, 7], 10, 100]

In [53]:
l4.pop(1000)

IndexError: pop index out of range

In [49]:
### del removes eveything
l5 = [1,2,3,4]
del l5

In [50]:
l5

NameError: name 'l5' is not defined

In [52]:
### Remove ---> removes the first occurance
l6 = [1,2,3,"s","a", "s"]
l6.remove("s")
l6

[1, 2, 3, 'a', 's']

In [55]:
### clear ---> clear the array
l6.clear()
l6

[]

In [56]:
### reverse the entries
l7= [1,2,3,"s","a", "s"]
l7.reverse()
l7

['s', 'a', 's', 3, 2, 1]

In [57]:
### sort --> not applicable for heterogenous data
l7.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [59]:
l8 = [4,2,7,8,9]
l8.sort()
l8

[2, 4, 7, 8, 9]

In [60]:
l9 = ["cde", "abc", "btc"]
l9.sort()
l9

['abc', 'btc', 'cde']

In [61]:
l9.sort(reverse=True)  ### descending order sorting
l9

['cde', 'btc', 'abc']

In [66]:
### sorting duplicate values
l10 = [7,5,2,4,4,1,6,7,7,3,5]
l11=list(set(l10)).sort()
print(l11)

None

In [68]:
l10 = [7,5,2,4,4,1,6,7,7,3,5]
l11= set(l10)                ### already sorted here so not sorting or printing again
l11

{1, 2, 3, 4, 5, 6, 7}

In [69]:
l12 = list(l11)
l12

[1, 2, 3, 4, 5, 6, 7]

In [71]:
l13 = l12.sort()
l13

In [77]:
### equals ---> assign another list on the same memory
l14 = [1,2,3,4]
l15 = l14

l15[0]=100
l14

[100, 2, 3, 4]

In [78]:
### copy ----> assign another memory

l14 = [1,2,3,4]
l15 = l14.copy()

l15[0]=100
l14

[1, 2, 3, 4]

In [79]:
### add ---> aading element inside the set
s7 = {1,3,8,3,1,5,8,3}
s7.add(300)
s7

{1, 3, 5, 8, 300}

In [80]:
s7.add(4)
s7

{1, 3, 4, 5, 8, 300}

In [81]:
#### discard ---> removes first element
s7.discard(1)
s7

{3, 4, 5, 8, 300}

In [82]:
### pop set ----> it removes from begining in case of sets
s7.pop()
s7

{4, 5, 8, 300}